.places{
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    max-width: 984px;
    row-gap: 80px;
    box-sizing: border-box;
    justify-self: center;
}

@media screen and (max-width: 1124px){
    .places{
        justify-content: left;
        justify-items: left;
        margin: 0 62px 0 32px;
        max-width: 928px;
    }
}

@media screen and (max-width: 980px){
    .places{
        row-gap: 73px;
        max-width: 720px;
        margin: 0 24px 0 24px;
    } 
}

@media screen and (max-width: 680px){
    .places{
        row-gap: 50px;
        padding: 0;
    } 
}

@media screen and (max-width: 512px) {
    .places{
        margin: 0 16px 0 16px;
    }
} 