.place__image{
    max-width: 460px;
    grid-row: 2/3;
    grid-column: 1/2;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1124px){
    .place__image{
        max-width: 440px;
        max-height: 440px;
    }
}

@media screen and (max-width: 980px){
    .place__image{
        max-width: 340px;
        max-height: 340px;
    }
}

@media screen and (max-width: 765px){
    .place__image{
        max-width: 440px;
        max-height: 440px;
        grid-row: 3/4;
        padding: 0;
    }
}

@media screen and (max-width: 512px) {
    .place__image{
        max-width: none;
        max-height: none;
    }
}

@media screen and (max-width: 400px) {
    .place__image{
        max-width: 400px;
        max-height: 400px;
    }
}

@media screen and (max-width: 320px) {
    .place__image{
        max-width: 321px;
        max-height: 321px;
    }
}