.place__image{
    max-width: 460px;
    grid-row: 2/3;
    grid-column: 1/2;
    width: 100%;
    height: auto;
    /* margin: 0 auto; */
}

@media screen and (max-width: 1124px){
    .place__image{
        max-width: 440px;
        max-height: 440px;
    }
}

@media screen and (max-width: 980px){
    .place__image{
        max-width: 340px;
        max-height: 340px;
    }
}

@media screen and (max-width: 750px){
    .place__image{
        grid-row: 3/4;
        max-width: 320px;
        max-height: 320px;
        padding: 0 0 0 0;
    }
}

@media screen and (max-width: 360px){
    .place__image{
        padding: 0;
        max-width: 360px;
        width: 100%;
    }
}
