.header_wrapper{
    padding: 24px 48px 0 48px;
}

@media screen and (max-width: 860px) {
    .header_wrapper{
        padding: 24px 24px 0 24px;
    }
} 

@media screen and (max-width: 512px) {
    .header_wrapper{
        padding: 16px 16px 0 16px;
    }
} 