.place__paragraph-wrapper{
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    align-items: start;
    align-content: start;
    text-align: left;
    box-sizing: border-box;
    width: 100%;
}

@media screen and (max-width: 765px){
    .place__paragraph-wrapper{
        grid-row: 4/5;
        grid-column: 1/2;
    }
}

@media screen and (max-width: 512px) {
    .place__paragraph-wrapper{
        padding: 0 16px 0 16px;
    }
}