.footer__copyright{
    font-size: 14px;
    line-height: 16px;
    justify-self: right;
    color: white;
    text-decoration: none;
    transition: .5s;
    grid-column: 2/3;
    align-self: center;
    margin-right: 48px;
}
@media screen and (max-width: 912px){
    .footer__copyright{
        margin: 0 24px 0 0;
    }
}

@media screen and (max-width: 712px){
    .footer__copyright{
        margin: 0;
        justify-self: left;
        align-self: left;
        grid-column: 1;
        margin-left: 24px;
    }
}

.footer__copyright:hover{
    opacity: .8;
}

@media screen and (max-width: 512px){
    .footer__copyright{
        justify-self: left;
        margin-left: 16px;
    }
}