.header__languages{
    justify-self: right;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, min-content);
    grid-auto-columns: auto;
    grid-auto-flow: column;
    column-gap: 18px;
    margin-top: 7px;
    text-decoration: none;
}