.cover{
    margin: 0 auto;
    max-width: 1184px;
    width: 100%;
}

@media screen and (max-width: 924px) {
    .cover{
        margin: 2px auto 0;
    }
} 

@media screen and (max-width: 512px) {
    .cover{
        margin: -2px auto 0;
    }
} 