.content__section{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1022px) {
    .content__section{
        padding: 0 24px 0 24px;
    }
} 

@media screen and (max-width: 512px) {
    .content__section{
        padding: 0 16px 0 16px;
    }
} 