.place__website{
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: end;
    justify-self: left;
}

@media screen and (max-width: 750px){
    .place__website{
        grid-row: 2/3;
        grid-column: 1/2;
        box-sizing: border-box;  
    }
}
